.jumbotron{
  background-image: url('../images/philipp-kammerer-346387-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  height:100vh;

}

.hero-text {

 padding-top: 40vh;
 color:white;

}
